{% extends 'admin/layout.html' %}

{% block title %}{{ page }} Account{% endblock %}

{% block content %}
<h2>{{ page }} Reports</h2>

<div class="content-block">

    <form action="" enctype="multipart/form-data" method="post" class="form responsive-width-100">

      

        
        <label for="title">Title</label>
        <input type="text" id="title" name="title" placeholder="title" value="{{ account['title'] }}" required>

        <label for="email">Content</label>
        <input type="text" id="content" name="content" placeholder="content" value="{{ account['content'] }}" required>

        <label for="email">Link</label>
        <input type="text" id="link" name="link" placeholder="link" value="{{ account['link'] }}" required>

        <label for="pdf">PDF</label>        
        <input type="file" id="pdf" name="uploaded_file" class="form-control-file" placeholder="pdf" value="{{ account['pdf'] }}" required>

        <label for="registered"> Date</label>
        <input id="date" type="datetime-local" name="date" value="{{ account['date'] | formatDateTime }}" required>
    
        <div class="submit-btns">
            <input type="submit" name="submit" value="Submit">
            {% if page == 'Edit' %}
            <input type="submit" name="delete" value="Delete" class="delete" onclick="return confirm('Are you sure you want to delete this account?')">
            {% endif %}
        </div>

    </form>

</div>
{% endblock %}